@use '0-variables' as *;
@use '1-mixins' as *;

#cookie-notice.cookie-notice-visible {
    background-color: $color-guardsman-red;

    .cookie-notice-container {
        color: $color-white;
        font-size: $content-size;
        line-height: $content-line-height;
        margin: 0 auto;
        text-align: left;
        max-width: 960px;
        width: 100%;

        .cn-button {
            @include button($lbl-color: $color-guardsman-red);
            background-color: $color-white;
            transition: $transition-fast;

            &:hover {
                @include button($lbl-color: $color-black);
                background-image: none;
                transition: $transition-fast;
            }
        }
    }

    #cn-close-notice {
        color: $color-white;
        font-size: 2rem;
        opacity: 1;

        &::before,
        &::after {
            background-color: $color-white;
            transition: $transition-fast;
        }

        &:hover {
            &::before,
            &::after {
                background-color: $color-black;
                transition: $transition-fast;
            }    
        }
    }
}