@use '0-variables' as *;
@use '1-mixins' as *;

#{$select-forms} {
    @include display-flex();
    width: 100%;
    max-width: 100%;

    .frm_form_fields {  
        max-width: 100%;
        width: 100%;  

        fieldset {
            border: none;
            padding: 0;
            width: 100%;
            margin: 0;
            padding: 0;
            max-width: 100%;
            width: 100%;

            #{$select-inputs},
            #{$select-labels} {
                @include display-flex();
                height: auto;
                max-width: 100%;
                padding: $inner-padding-small;
                width: 100%;
            }

            #{$select-labels} {
                padding-left: 0;
            }

            #{$select-inputs} {
                background-color: $color-white;
                border: none;
                border-radius: 0.25rem;
                font-size: $content-size;
                margin: 0 0 0.5rem 0;
                padding: 1rem;
                transition: $transition-fast;

                &:focus,
                &:focus-visible,
                &:focus-within {
                    background-color: lighten($color-pale-canary, 10%);
                    box-shadow: $box-shadow;
                    outline: none;
                    transition: $transition-fast;
                }
            }

            input[type="radio"] {
                margin: auto 0.5rem auto 0;
                width: auto;
            }

            .frm_submit {
                @include display-flex();
                justify-content: flex-end;
            }
            
            #{$select-buttons} {
                @include button();
            }

            .frm_required {
                color: $color-guardsman-red;
                font-size: 1.5rem;
                margin: 0 0 0 0.25rem;
            }
        }
    }
}