@use '0-variables' as *;
@use '1-mixins' as *;

* {
    box-sizing: border-box;
}

body {
    font-family: $content-font;
    margin: 0;
    padding: 0;
}

.main-site-wrapper {
    // background-image: linear-gradient(0deg, $color-black 400px, $color-gallery 400px);
}


#{$select-headers} {
    color: $color-black;
    font-family: $header-font;
    margin: 0;
    padding: $inner-padding-small;
    padding-left: 0;
    padding-bottom: 0.5rem;
}

h1 {
    // background-color: $color-guardsman-red;
    // border-radius: $border-radius-small;
    // box-shadow: $box-shadow-dark;
    // color: $color-white;
    font-size: 2.2rem;
    margin: 0 0 1rem 0;
    // padding: $inner-padding-small;
    padding-top: 0.85rem;
    padding-bottom: 1.15rem;
    transition: $transition-fast;

    @include breakpoint($minlg) {
        // margin: 0 0 1rem -2rem;
        transition: $transition-fast;
    }
}

h2 {
    font-size: 1.8rem;
    margin: 0 0 0.75rem 0;
}

h3 {
    font-size: 1.4rem;
    margin: 0 0 0.5rem 0;
}

h4, 
h5, 
h6 {
    font-size: 1.1rem;
}

aside,
.entry-content { 
    font-size: $content-size;
    
    p {
        font-size: $content-size;
        color: $color-dove-gray;
    }

    ul {
        list-style: none;

        li::before {
            content: '\276F';
            color: $color-black;
            font-weight: bold;
            font-size: 1rem;
            display: inline-block;
            width: 1rem;
            margin-left: -1rem;
        }
    }
    
    #{$list-items} {
        color: $color-dove-gray;
        font-family: $content-font;
        font-size: $content-size;
        line-height: $content-line-height;
    }

    a {
        color: $color-guardsman-red;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.btn {
    @include button();
}