@use '0-variables' as *;
@use '1-mixins' as *;

.footer-website {
    display: flex;
    flex-direction: column;
    color: $color-white;
    padding: $inner-padding-medium;

    .footer-website-inner {
        @include display-flex($dir-mobile: 'column');
        display: flex;
        flex-direction: column;
        width: 100%;

        .widget-container {
            @include display-flex();
            padding: $inner-padding-small; 
            justify-content: center;
            width: 100%;

            @include breakpoint($minsm) {
                width: 50%;
            }

            a .attachment-thumb {
                border-radius: $border-radius-small;
                background-color: $color-white;
                height: auto;
                width: 4rem;
            }
        }
    }
}

.footer-website {
    background-color: $color-white;
}