@use '0-variables' as *;
@use '1-mixins' as *;

.footer-website {
    display: flex;
    flex-direction: column;
    color: $color-white;
    padding: $inner-padding-medium;

    .footer-website-inner {
        @include display-flex($dir-mobile: 'column');
        display: flex;
        flex-direction: column;
        width: 100%;

        div.widget-container {
            @include display-flex();
            justify-content: center;
            align-items: center;
            width: 100%;

            &.copy {
                justify-content: flex-start;
                font-size: $content-size;     
            }

            &:last-of-type {
                justify-content: flex-end;
            }

            @include breakpoint($minsm) {
                width: 50%;
            }

            a .attachment-thumb {
                border-radius: $border-radius-small;
                background-color: $color-white;
                height: auto;
                width: 4rem;
            }

            .social-media {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    list-style: none;
                }

                li.linkedin a {
                    img {
                        opacity: 1;
                        height: 33px;
                        transition: $transition-fast;
                        width: 30px;
                    }

                    &:hover img {
                        opacity: 0.6rem;
                        transition: $transition-fast;
                    }
                }
            }
        }
    }
}

.footer-website {
    background-color: $color-guardsman-red;
}