@use '0-variables' as *;
@use '1-mixins' as *;

.pocket {
    background-image: 
        linear-gradient(8deg, rgba(0, 0, 0, 1) 50%, transparent 50%),
        linear-gradient(8deg, rgba(255, 255, 255, 1) 50.25%, transparent 50.25%);
    margin: 0 auto;
    margin-top: -9.5rem;
    margin-bottom: -2.5rem;
    max-width: $max-width-content;
    height: 200px;
    width: 100%;
    z-index: 3;
}

.footer-website {
    display: flex;
    flex-direction: column;
    color: $color-white;
    padding: $inner-padding-medium;

    .footer-website-inner {
        @include display-flex($dir-mobile: 'column');
        display: flex;
        flex-direction: column;
        width: 100%;

        .widget-container {
            @include display-flex();
            padding: $inner-padding-small; 
            justify-content: center;
            width: 100%;

            @include breakpoint($minsm) {
                width: 50%;
            }

            a .attachment-thumb {
                border-radius: $border-radius-small;
                background-color: $color-white;
                height: auto;
                width: 4rem;
            }
        }
    }
}

.footer-website {
    background-color: $color-white;
}