@use '0-variables' as *;
@use '1-mixins' as *;

.sticky-container-content {
    position: absolute;
    @include display-flex();
    font-family: $content-font;
    padding: $inner-padding-small();
    width: 100%;

    .branding {
        @include display-flex();
        padding: $inner-padding-medium();
        margin: auto auto auto 0;
    
        a {
            color: $color-white;
            font-size: 1.4rem;
            font-family: 'Bebas', Arial, Helvetica, sans-serif;
            font-weight: 900;
            text-decoration: none;
            transition: $transition-fast;
    
            &:hover {
                transition: $transition-fast;
            }
    
            h2 {
                display: block;
                font-family: 'Bebas', Arial, Helvetica, sans-serif;
                margin: auto 0;
            }
    
            @include breakpoint($minsm) {
                font-size: 4rem;
                transition: $transition-fast;
            }
        }
    }

    @include breakpoint($minsm) {
        &.js-shrink .branding a {
            font-size: 2rem;
            transition: $transition-fast;
        }
    }
}
 

.video-container {
    background-color: $color-black;
    height: 100vh;
    position: relative;
    width: 100vw;

    video {
        background-color: $color-black;
        height: 100%;
        position: absolute;
        object-fit: cover;
        overflow: hidden;
        width: 100%;
        
        
    }
}


.header-swiper {
    width: 100%;
    position: absolute;
    overflow: hidden;

    .swiper-container {
        color: $color-white;
        margin: 12rem auto 0;
        height: 60vh;
        position: relative;
        width: 100%;
        z-index: 12;

        .swiper-wrapper {                

            .swiper-slide {
                color: $color-white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 12rem;
                width: 100%;

                #{$select-headers} {
                    color: $color-white;
                }
            }
        }

        .swiper-button-prev, 
        .swiper-button-next {
            color: $color-white;
            top: 50%;
        }
    }
}