@use '0-variables' as *;
@use '1-mixins' as *;

.sticky-container-content {
    position: absolute;
    @include display-flex();
    font-family: $content-font;
    padding: $inner-padding-small();
    width: 100%;
}


.branding {
    @include display-flex();
    padding: $inner-padding-medium();
    margin: auto auto auto 0;

    a {
        color: $color-white;
        font-size: 2rem;
        font-family: 'Bebas', Arial, Helvetica, sans-serif;
        font-weight: 900;
        text-decoration: none;
        transition: $transition-fast;

        &:hover {
            transition: $transition-fast;
        }

        h2 {
            display: block;
            font-family: 'Bebas', Arial, Helvetica, sans-serif;
            margin: auto 0;
        }
    }
}


.header-website {
    background-color: $color-gallery;
    height: 25rem;
    overflow: hidden;
    width: 100%;

    video {
        margin-top: -35rem;
    }
}