@use '0-variables' as *;
@use '1-mixins' as *;

.header-website {
    @include display-flex();
    @include inner-padding();
}


.branding {
    @include display-flex();
    @include inner-padding();
    margin: 0 auto 0 0;
    align-items: center;
    justify-content: center;

    h2 {
        font-family: 'Bebas', Arial, Helvetica, sans-serif;
    }
}