@use '0-variables' as *;
@use '1-mixins' as *;

.main-site-wrapper {
    @include display-flex($dir-mobile: 'column', $dir-desk: 'column');
    min-height: 100vh;
    width: 100%;
}

.content-sidebar-wrapper {
    @include display-flex($dir-mobile: 'column');
    margin: 0 0 auto 0;
    padding-bottom: 5rem;

    main {
        width: 100%;

        @include breakpoint($minsm) {
            width: 75%;
        }
    }

    aside {
        width: 100%;

        @include breakpoint($minsm) {
            width: 25%;
        }
    }
}

.footer-website {
    @include display-flex();
    margin: auto 0 0 0;
}

aside {
    @include display-flex($dir-mobile: 'column', $dir-desk: 'column');
}