@use '0-variables' as *;
@use '1-mixins' as *;

main {
    @include display-flex();
    padding: $inner-padding-small();
}

.content-sidebar-wrapper {
    margin-top: -6rem;
    z-index: 2;

    @include breakpoint($minsm) {
        width: $max-width-content;
        margin: -6rem auto 0;
    }

    main {
        background-color: $color-white;
        border-radius: 1.25rem;
        margin: 0 0 auto 0;
        padding: 1rem;
        padding-bottom: 7rem;

        h1 {
            margin: 1.5rem 0 0;
        }
    }
}