@use '0-variables' as *;
@use '1-mixins' as *;

main {
    @include display-flex();
    padding: $inner-padding-small();
}

.content-sidebar-wrapper {
    padding-top: 2rem;

    @include breakpoint($minsm) {
        width: 960px;
        margin: 0 auto;
    }
}