@use '0-variables' as *;
@use '1-mixins' as *;

.content-sidebar-wrapper {
    main {
        @include display-flex();
        background-color: $color-white;
        margin: 0 0 auto 0;
        padding: 1rem;

        @include breakpoint($minsm) {
            padding-bottom: 7rem;
        }
    }

    @include breakpoint($minsm) {
        width: 100%;
        max-width: $max-width-content;
        margin: 0 auto;
    }
}