@use '0-variables' as *;
@use '1-mixins' as *;


.header-website {
    @include display-flex();

    .main-nav {
        @include display-flex();
        margin: 0 0 0 auto;

        ul {
            display: none;
            padding: 0;
            margin: 0;

            li {
                list-style: none;

                a {
                    @include display-flex;
                    text-decoration: none;
                    padding: $inner-padding-small();
                    color: $color-black;
                    font-weight: bold;
                    transition: $transition-fast;

                    &:hover {
                        background-color: $color-neon-carrot;
                        color: $color-white;
                        transition: $transition-fast;
                    }
                }

                &.current-menu-item a {
                    background-color: $color-guardsman-red;
                    color: $color-white;

                    &:hover {
                        cursor: text;
                    }
                }
            }

            @include breakpoint($minsm) {
                @include display-flex();
                align-items: center;
                width: 100%;
            }
        }

        @include breakpoint($minsm) {
            @include display-flex();
        }
    }
}

.hamburger-btn {
    @include display-flex();
    align-items: center;
    justify-content: center;
    padding: $inner-padding-medium;

    ion-icon {
        color: $color-black;
        transition: $transition-fast;
        height: 4rem;
        width: 4rem;

        &:hover {
            color: red;
            transition: $transition-fast;
        }
    }

    &:hover {
        cursor: pointer;
    }

    @include breakpoint($minsm) {
        display: none;
    }
}

.mobile-menu-overlay {
    @include display-flex();
    background-color: $color-black;
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 10;

    .main-nav ul {
        @include display-flex($dir-mobile: 'column', $dir-desk: 'column');
        width: 100vw;

        li {

            a {
                @include display-flex();
                color: $color-white;
                font-size: 1.4rem;
                font-family: $header-font;
                justify-content: center;
                padding: $inner-padding-medium;
                transition: $transition-fast;

                &:hover {
                    text-decoration: underline;
                    transition: $transition-fast;
                }
            }

            &.current-menu-item a {
                background-color: $color-white;
                color: $color-black;

                &:hover {
                    cursor: text;
                    text-decoration: none;
                }
            }
        }
    }

    .close-btn {
        @include display-flex();
        justify-content: flex-end;
        padding: $inner-padding-medium;

        ion-icon {
            color: $color-white;
            transition: $transition-fast;
            height: 4rem;
            width: 4rem;
    
            &:hover {
                color: red;
                transition: $transition-fast;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}