@use '0-variables' as *;
@use '1-mixins' as *;

#sticky-container {
    display: flex;
    flex-flow: row wrap;
    z-index: 9;
    position: sticky;
    top: 0;
    transition: $transition-fast;

    &.scrolled-down {
        background-color: $color-white;
        box-shadow: $box-shadow;
        transition: $transition-fast;
    }

    .sticky-container-content {
        padding: 0;

        &.js-shrink {
            background-color: $color-white;
            box-shadow: $box-shadow;
        }
    }
}