@use '0-variables' as *;
@use '1-mixins' as *;

#sticky-container {
    background-color: $color-white;
    display: flex;
    flex-flow: row wrap;
    z-index: 9;
    position: sticky;
    top: 0;
    transition: $transition;

    &.scrolled-down {
        box-shadow: $box-shadow;
        transition: $transition;
    }

    .header-website {
        padding: 0;
    }
}