@use '0-variables' as *;
@use '1-mixins' as *;


ul.projecten {
    list-style: none;
    margin-top: 0;
    padding: 0;

    li article {
        padding: $inner-padding-small;

        #{$select-headers} {
            padding: 0;
        }

        .wp-post-image {
            width: 100%;

            @include breakpoint($maxxs) {
                height: auto;
                width: 100%;
            }
        }
    }
}

.read-more-wrapper {
    text-align: right;
    width: 100%;
}