@use '0-variables' as *;
@use '1-mixins' as *;

body.blog,
body.single,
body.page {
    .content-sidebar-wrapper main {
        line-height: $content-line-height;
        font-size: $content-size;

        p {
            line-height: $content-line-height;
            font-size: $content-size;
        }
    }
}

body.single,
body.page {
    .wp-post-image {
        border-radius: 1rem;
        margin: 0 0 2rem 0;
        height: auto;
        width: 100%;
    }
}