@use '0-variables' as *;
@use '1-mixins' as *;

body.blog,
body.single,
body.page {
    .content-sidebar-wrapper main {
        line-height: $content-line-height;
        font-size: $content-size;
        
        p {
            line-height: $content-line-height;
            font-size: $content-size;
        }

        article {           
            figure {
                &.alignleft img {
                    margin: 0 1rem 0 0;
                }

                &.alignright img {
                    margin: 0 0 0 1rem;
                }

                img {
                    border-radius: $border-radius-medium;
                }
            }
        }
    }

    .entry-footer {
        padding: $inner-padding-small;
    }
}

body.single,
body.page {
    .wp-post-image {
        border-radius: $border-radius-big;
        margin: 0;
        height: auto;
        width: 100%;
    }
}

body.single {
    .date-published {
        padding: $inner-padding-small;
        font-style: italic;
    }
}